.container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.from-border{
    padding: 5rem;
    border-radius: 4px;
    border: 1px solid #E4E7ED;
}
input{
    height: 2rem;
    width: 30rem;
    margin-bottom: 1rem;
}
select{
    width: 31.5rem;
    height: 2rem;
    margin-bottom: 1rem;
    /* color:#999; */
}
.child-center{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cloum-center{
    margin-right: 10px;
    display: flex;
    width: 30rem;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}
.input-title{
    display: inline-block;
    width: 5rem;
}
.radio{
    width:20px;
    height: 20px;
    margin: 0;
    border: none;
}
.radio:focus{
    border: none;
    box-shadow:none;
}
.radio_title{
    width: 3em;
}
.submit ,.reset{
    height: 2rem;
    width: 10rem;
    background-color: #409EFF;
    line-height: 2rem;
    text-align: center;
    color: white;
    border-radius: 12px;
    display: inline-block;
}
.reset{
    background-color: #F56C6C;
}
.success-img{
    background-image: url(../images/success.png);
    background-size: 100% 100%;
    height:16rem;
    width: 18rem;
}
input,select{
    border-radius: 12px;
    border-width: 1px;
    outline:none;
    padding:0 10px 0 10px;
}
input:focus{
    /* border-radius: 12px; */
    border-style:solid;
    border-color: #03a9f4;
    border-width: 1px;
	box-shadow: 0 0 2px #03a9f4;
}
::-webkit-input-placeholder{/*Webkit browsers*/
    color:#999;
    /* font-size:16px; */
}
:-moz-placeholder{/*Mozilla Firefox 4 to 8*/
   color:#999;
   /* font-size:16px; */
}
::moz-placeholder{/*Mozilla Firefox 19+*/
   color:#999;
   /* font-size:16px; */
}
:-ms-input-placeholder{/*Internet Explorer 10+*/
    color:#999;
    /* font-size:16px; */
}








.select_style {width:240px; height:30px; overflow:hidden; background:url(../images/arrow.png) no-repeat 215px; 
    border:1px solid #ccc; 
    -moz-border-radius: 5px; /* Gecko browsers */ 
    -webkit-border-radius: 5px; /* Webkit browsers */ 
    border-radius:5px; 
    } 
    .select_style select { padding:5px; background:transparent; width:268px; font-size: 16px; border:none; height:30px; 
    -webkit-appearance: none; /*for Webkit browsers*/ 
    } 